---
---
<header class="site-header">
  <div class="container nav">
    <a class="brand" href="/#top">RUPADANA</a>
    <nav class="nav-links">
      <a href="/#about">about.ts</a>
      <a href="/#experience">experience.ts</a>
      <a href="/#stack">stack.ts</a>
      <a href="/#projects">projects.ts</a>
      <a href="/blog">blog.ts</a>
      <a href="/#contact">contact.ts</a>
    </nav>
  </div>
</header>
